
div.header{
	height:30px;
	background-color:black;
	color:white;
	display:block;
	padding:0px;
	padding-top:10px;
	border:0px;
	color:white;
	div{
		padding:0px;
	}
	a{
		color:white
	}
	div.breadcrumbs{
		display:inline;
		font-family: monospace;
		font-size: 125%;
	}

	div.map-nav{
		display:inline-block;
		color:white;
		position:relative;
		width:100px;
		height:30px;
		div.map-list{
		  position: absolute;
		  top: 100%;
		  left: 0;
		  z-index: 1000;
		  display: none;
		  float: left;
		  min-width: 160px;
		  padding: 0 0;
		  font-size: 14px;
		  background-color:black;
		  //border: 1px solid #cccccc;
		  //border: 1px solid rgba(0, 0, 0, 0.15);
		  //border-radius: 4px;
		  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		  background-clip: padding-box;
		  ul{
		  	list-style: none;
		  	padding:0px;
		  	li{
		  		margin-bottom:5px;
		  		text-indent: 5px;
		  		a{
		  			text-decoration: none;
		  		}
		  	}
		  	li:hover{
		  		background-color:#494;
		  	}
		  }
			
		}
		&:hover{
			div.map-list{
				display:block;
			}
		}
	}

	div.player-info{
		float:right;
	}
}

section.map{
	width:100%;
	height:100%;
	position:relative;
}


#map-canvas{
	position:absolute;
	height:1000;
	width:1500;
	z-index:5;

}

div#intro{
	margin:auto;
	width:800px;
	font-size: 200%;
	font-family: monospace;
	img{
		margin:auto;
		display:block;
	}
	h1,h2,h3{
		text-align: center;
		color: #333;
		font-family: monospace;
	}

	input.player-id{
		font-size:100%;
		border:none;
		color:gold;
	}
}

html{
	height:100%;
	
}
body {
    margin:0px;
    padding:0px;
    height:100%;
}